export_alias chkl "valgrind --leak-check=full --show-leak-kinds=all --track-origins=yes --undef-value-errors=yes --show-reachable=yes --show-possibly-lost=yes --expensive-definedness-checks=yes -s ./build/kbase"
export_alias chkt "valgrind --tool=helgrind -s ./build/kbase"
export_alias chks "find src -name '*.c' -exec clang --analyze -Iincludes -std=c11 -Xanalyzer -analyzer-output=text {} \; && cppcheck --enable=all -Iincludes --std=c11 --suppress=missingIncludeSystem --check-level=exhaustive src/"

export_alias build "./cforge.h release"
export_alias run "./build/kbase"
